<!doctype html>
<!-- html tag with Thymeleaf -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
<title>Crea un nuovo ticket</title>
</head>
<body>
  
  <header>
    <nav th:replace="fragments/navbar :: navbar"></nav>
  </header>

  <main class="container d-flex justify-content-center">
    <form class="w-75" th:action="@{/tickets/create}" method="post" th:object="${ticket}">
        <div class="mb-3">
          <label class="form-label">Titolo</label>
          <input class="form-control" type="text" aria-label="default input example" th:field="*{title}" th:errorClass="is-invalid">
          <div th:if="${#fields.hasErrors('title')}" class="invalid-feedback">
            <ul>
              <li th:each="error : ${#fields.errors('title')}" th:text="${error}" />
            </ul>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Categoria</label>
          <select th:field="*{category.id}" class="form-select" aria-label="Default select example" th:errorClass="is-invalid">
            <option value="" selected hidden>Seleziona il tipo di categoria</option>
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
          </select>
          <div th:if="${#fields.hasErrors('category')}" class="invalid-feedback">
            <ul>
              <li th:each="error : ${#fields.errors('category')}" th:text="${error}" />
            </ul>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Descrizione</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{description}" th:errorClass="is-invalid"></textarea>
          <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
            <ul>
              <li th:each="error : ${#fields.errors('description')}" th:text="${error}" />
            </ul>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Operatore</label>
          <select th:field="*{operator.id}" class="form-select" aria-label="Default select example" th:errorClass="is-invalid">
            <option value="" selected hidden>Seleziona l'operatore</option>
            <option th:each="operator : ${operators}" th:value="${operator.id}" th:text="${operator.name}"></option>
          </select>
          <div th:if="${#fields.hasErrors('operator')}" class="invalid-feedback">
            <ul>
              <li th:each="error : ${#fields.errors('operator')}" th:text="${error}" />
            </ul>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Data di creazione</label>
          <input class="form-control" type="date" th:field="*{creationDate}" th:value="${currentDate}" aria-label="default input example" />
          <div th:if="${#fields.hasErrors('creationDate')}" class="invalid-feedback">
            <ul>
              <li th:each="error : ${#fields.errors('creationDate')}" th:text="${error}" />
            </ul>
          </div>
        </div>
      <input type="submit" value="Crea ticket" class="btn btn-primary"t />
      <button type="reset" class="btn btn-warning">Resetta campi</button>
    </form>
  </main>


<!-- Bootstrap Bundle with Popper -->
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>