<!doctype html>
<!-- html tag with Thymeleaf -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
<title>Dashboard Admin</title>
</head>
<body>

  <header>
    <nav th:replace="fragments/navbar :: navbar"></nav>
  </header>

  <main class="container">
    <h1 class="mb-2">Ticket</h1>

    <div class="navbar bg-body-tertiary mb-3">
      <div class="container-fluid">
        <a th:href="@{/tickets/create}" class="btn btn-primary">Crea un nuovo ticket</a>
        <form class="d-flex" role="search" th:action="@{/tickets/search/title}" method="get">
          <input class="form-control me-2" type="search" placeholder="Cerca ticket" aria-label="Search" th:value="${title}">
          <button class="btn btn-outline-success" type="submit">Cerca</button>
        </form>
      </div>
    </div>

    <table class="table">
        <thead>
          <thead>
            <tr>
              <th>ID</th>
              <th>Titolo</th>
              <th>Descrizione</th>
              <th>Stato</th>
              <th>Operatore</th>
              <th>Data di creazione</th>
            </tr>
          </thead>
        </thead>
        <tbody>
          <tr th:each="ticket : ${tickets}" th:object="${ticket}">
            <td th:text="*{id}"/>
            <td th:text="*{title}"/>
            <td th:text="*{description}"/>
            <td th:text="*{status}"/>
            <td th:text="*{operator.name}"/>
            <td th:text="*{creationDate}"/>
            <td>
              <a th:href="@{/tickets/{id}(id=*{id})}" class="btn btn-info btn-sm">Dettagli</a>
            </td>
            <td>
              <a th:href="@{/tickets/edit/{id}(id=*{id})}" class="btn btn-success btn-sm">Modifica</a>
            </td>
            <td>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" th:data-bs-target="'#delete-modal-' + *{id}">
                Elimina
              </button>

              <!-- Modal -->
              <div class="modal fade" th:id="'delete-modal-' + *{id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Elimina ticket "[[*{title}]]"</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Sei sicuro di voler eliminare il ticket "[[*{title}]]" n. [[*{id}]]? 
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                      <form th:action="@{/tickets/delete/{id}(id=*{id})}" method="post">
                        <input type="submit" value="Elimina" class="btn btn-danger" >
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              
            </td>
          </tr>
        </tbody>
      </table>
</main>


<!-- Bootstrap Bundle with Popper -->
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>